---
import Layout from '../../layouts/Layout.astro';
import UpdateBranch from '../../components/UpdateBranchTip.astro';
import TowerPlug from '../../components/TowerPlug.astro';
import overview from '../../assets/workflows/gitlab-flow/gitlab-flow-overview.png';
import video from '../../assets/workflows/gitlab-flow/gitlab-flow-init.mp4';
import tower from '../../assets/workflows/gitlab-flow/gitlab-flow-tower.png';
---

<Layout title="The GitLab Flow Workflow" description="Discover GitLab Flow, the agile and issue-centric workflow that extends GitHub Flow. Use a stable main branch and Merge Requests for continuous deployment.">
  <section class="container">
    <div class="two-columns">
      <div>
        <h1>The "GitLab Flow" Workflow</h1>
        <p>GitLab Flow is an agile, issue-centric Git workflow that simplifies development by centering on Merge Requests (MRs).</p>
        <p>It maintains a single, stable <code>main</code> branch for production-ready code, avoiding the complexity of multi-branch models like GitFlow. Developers use short-lived feature branches for all work, integrating changes back into main only after review and approval via an MR.</p>
       <p>This structure provides a streamlined path for version control, continuous integration, and Continuous Delivery (CD).</p>
      </div>
      <div class="video-container">
        <video
          src={video}
          autoplay
          loop
          muted
          playsinline
          width="900"
          height="600"
        />
      </div>
    </div>
  </section>

  <section class="container">
    <h2>How GitLab Flow Works</h2>
    <div class="two-columns workflow-overview">
      <div>
        <img src={overview.src} width="1160" height="1100" alt="GitLab Flow – Overview" />
      </div>
      <div>
        <h3>Base Branches</h3>
        <ul>
          <li><code>production</code> (Root Branch): This is the ultimate source of truth; the only branch that deploys to the production environment.</li>
          <li><code>main</code>: The primary integration branch where all new features are initially merged. It acts as the source for the staging environment.</li>
          <li><code>staging</code>: This branch acts as the final gate, deploying to a non-production environment that closely mimics the live setup. It is always updated from <code>main</code> before being promoted to <code>production</code>.</li>
        </ul>
        <h3>Topic Branches</h3>
        <ul>
          <li><code>feature/*</code>: Used for all new functionality. </li>
          <li><code>hotfix/*</code>: Reserved for urgent, production-breaking fixes.</li>
        </ul>
      </div>
    </div>
  </section>

  <UpdateBranch/>

  <section class="container">
    <div class="two-columns">
      <TowerPlug workflowName="GitLab Flow"/>
      <div>
        <img src={tower.src} width="1160" height="1100" alt="GitLab Flow in Tower – Overview" />
      </div>
    </div>
  </section>

</Layout>

<style>

section:first-of-type {
  border-bottom: 1px solid #1E164D;
}

  img {
    border-radius: 12px;
  }

  ul {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  li {
    padding-left: 0;
    font-size: 1.125rem;
  }

  section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    padding-bottom: 1rem;
  }
  .two-columns {
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  p {
    font-size: 1.125rem;
  }

  .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      width: 100%;
      height: auto;
      max-width: 900px;
      border-radius: 12px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
  }
  </style>
