---
import icon from '../assets/icon.svg';
---

<section class="container">
  <div class="two-columns">
    <div>
      <h2>What is git-flow-next?</h2>
      <p>Built on the original git-flow and gitflow-avh projects (both now discontinued), gitflow-next represents the next iteration of advanced Git workflow possibilities. It offers enhanced features and greater customization options for modern teams in fast-paced environments.</p>
      <p>Developed in Go, it prioritizes reliability, extensibility, and an improved developer experience.</p>
    </div>
    <div class="icon">
      <img src={icon.src} width="457" height="280" alt="git-flow-next icon" loading="lazy" />
    </div>
  </div>
</section>

<style>
  section {
    margin-top: 5rem;
    @media (min-width: 768px) {
      margin-top: 12.5rem;
    }
  }
  .two-columns {
    display: grid;
    gap: 6rem;
    align-items: center;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  p {
    font-size: 1.125rem;
  }
  .icon {
    order: -1;
    justify-self: end;
    @media (min-width: 768px) {
      order: 0;
    }
  }
</style>
