---
const { workflowName } = Astro.props;
---

<div>
  <h2>{workflowName} in the Tower Git Client</h2>
  <p>For more visual assistance, take a look at <a href="https://www.git-tower.com/" target="_blank" rel="noreferrer noopener">Tower</a>, our native Git client for both Mac and Windows.</p>
 <p>Tower allows you to set up any workflow configuration with just a few clicks, along with other advanced features such as:</p>
  <p>
    <ul>
      <li>Drag and Drop for Interactive Rebase.</li>
      <li>Undo with a simple CMD+Z (CTRL+Z on Windows).</li>
      <li>Branch review and branch comparison capabilities.</li>
      <li>Git LFS (Large File Storage) and Submodule support.</li>
      <li>Deep integration with major remote services like GitHub, GitLab, Bitbucket, and Azure DevOps.</li>
    </ul>
  </p>
</div>
