---
import HeaderNav from '../components/HeaderNav.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/inria-sans';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>git-flow-next: Your Favorite Git Workflow. Reimagined.</title>
	</head>
	<body>
	  <HeaderNav/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
  /* Reset CSS */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /* End of Reset CSS */

  :root {
    --main-white: #EFEEFF;
    --main-purple: #FF39B9;
    --light-purple: #18123F;
    --main-green: #AEEA94;
    scroll-behavior: smooth;
  }

  body {
    background: #0d0921;
    font-family: 'Inria Sans', sans-serif;
    color: var(--main-white);
  }
  .container {
    max-width: 1176px;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
  .blog-container {
    max-width: 800px;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
  h2 {
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 130%;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }
  a {
    color: var(--main-purple);
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid var(--main-purple);
    }
  }
  .text-center {
    text-align: center;
  }
  ul li {
    padding-left: 1rem;
  }
</style>
